./
../
.CFUserTextEncoding
.DS_Store
.Trash/
.android/
.bash_history
.bash_profile
.bashrc~
.cache/
.cocoapods/
.config/
.cups/
.dbshell
.emacs.d/
.gem/
.git/
.gitconfig
.gradle/
.journal.txt
.jrnl_config
.lesshst
.local/
.mongorc.js
.putty/
.python_history
.ssh/
.subversion/
.viminfo
.viminfo.tmp
.vimrc~
.wireshark/
.wireshark-etc/
Applications/
Desktop/
Documents/
Downloads/
Google Drive/
Library/
Movies/
Music/
Pictures/
Programming/
Public/
Unity/
VirtualBox VMs/
umdsecas@users.deterlab.net/
